.weather {
  width: 35em;
  color: #ffffff;
  margin: 27em 2em 2em 2em;
  padding: 0 0.5em 0.5em 1em;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
  padding-right: 2em;
  padding-bottom: 0.1em;
}

.weather-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  margin: 5px 0 0 1px;
}

.weather-icon {
  width: 100px;
  margin-left: -1em;
  padding-left: 85%;
}

.temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -0.2rem;
  margin: 0.05em 0.05em 0.09em 0.09em;
}
